<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-buttom tab="calendrier">
            <ion-icon name="Calendrier">
                <ion-label>Calendrier</ion-label>
            </ion-icon>
        </ion-tab-buttom>

        <ion-tab-buttom tab="chat">
            <ion-icon name="Chat">
                <ion-label>Chat</ion-label>
            </ion-icon>
        </ion-tab-buttom>

        <ion-tab-buttom tab="find-me">
            <ion-icon name="findMe">
                <ion-label>findMe</ion-label>
            </ion-icon>
        </ion-tab-buttom>

        <ion-tab-buttom tab="membres">
            <ion-icon name="Membres">
                <ion-label>Membres</ion-label>
            </ion-icon>
        </ion-tab-buttom>

    </ion-tab-bar>


</ion-tabs>